{% extends "layout_app.html" %}
{% block content %}


<div class="relative z-10 settingname hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assettype.label}}</h3>
              <!-- <p class="text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste dolorem animi vitae error totam. At sapiente aliquam accusamus facere veritatis.</p> -->
              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelname-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingemail hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetname.label}}</h3>


              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

             

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelemail-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingphone hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetvalue.label}}</h3>


              <form class="space-y-2 mt-5" method="POST" action="">
              </form>
              

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelphone-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingbirthday hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetprice.label}}</h3>

              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelbirthday-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto max-w-7xl sm:pt-10 pt-0 lg:flex lg:gap-x-10 lg:px-8">
  <main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20">
    <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
      <div>
        <h2 class="text-2xl font-semibold leading-7 text-gray-900">Asset List</h2>
        
        <!-- Bank Accounts Table -->
        <table class="mt-6 w-full whitespace-nowrap text-left">
          <colgroup>
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
          </colgroup>
          <thead class="border-b border-gray-500 text-sm leading-6 text-black">
            <tr>
              <th scope="col" class="hidden sm:table-cell py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Accounts</th>
              <th scope="col" class="py-2 pl-0 pr-8 font-semibold">Name</th>
              <th scope="col" class="py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Value</th>
              <!-- <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8">empty</th> -->
            </tr>
          </thead>

          <tbody class="divide-y divide-white/5">
            <tr>
              <td class="hidden sm:table-cell py-4 pl-4 pr-8 sm:pl-6 lg:pl-8 ">
                <div class="flex gap-x-3">
                  <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-sm font-medium text-blue-900 ring-1 ring-inset ring-gray-400/20">Bank Account</span>
                </div>
              </td>
              <td class="py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                <div class="flex gap-x-3">
                  <div class="text-sm leading-6 text-black">Savings Account</div>
                  <!-- <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">Bank Account</span> -->
                </div>
              </td>
              <td class="py-4 pl-0 pr-8 text-sm leading-6 md:table-cell lg:pr-20">
                <div class="flex gap-x-3">
                  <div class="font-mono text-sm leading-6 text-black">$83,679.34</div>
                </div>
              </td>
              <td class="py-4 pl-0 pr-4 text-right text-sm leading-6 sm:table-cell sm:pr-6 lg:pr-8">
                <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2">
                  <span class="absolute -inset-1.5"></span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                    <path d="M13.5 6.5l4 4"></path>
                  </svg>
                </button>
              </td>
            </tr>
            
            <!-- More items to add in Flask... -->
          </tbody>

          
          
        </table>
        <div class = "py-4 text-right">
          <button type="submit" class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400">Add Account</button>
        </div>
        <!-- Collections Table -->
        <table class="mt-6 w-full whitespace-nowrap text-left">
          <colgroup>
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
            <col class="lg:w-1/4">
          </colgroup>
          <thead class="border-b border-gray-500 text-sm leading-6 text-black">
            <tr>
              <th scope="col" class="hidden sm:table-cell py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Accounts</th>
              <th scope="col" class="py-2 pl-0 pr-8 font-semibold">Name</th>
              <th scope="col" class="py-2 pl-0 pr-8 font-semibold">Value</th>
              <!-- <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8">empty</th> -->
            </tr>
          </thead>

          <tbody class="divide-y divide-white/5">
            <tr>
              <td class="hidden sm:table-cell py-4 pl-4 pr-8 sm:pl-6 lg:pl-8 ">
                <div class="flex gap-x-3">
                  <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-sm font-medium text-green-600 ring-1 ring-inset ring-gray-400/20">Investment Account</span>
                </div>
              </td>
              <td class="py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                <div class="flex gap-x-3">
                  <div class="text-sm leading-6 text-black">Fidelity Account</div>
                  <!-- <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">Bank Account</span> -->
                </div>
              </td>
              <td class="py-4 pl-0 pr-8 text-sm leading-6 md:table-cell lg:pr-20">
                <div class="flex gap-x-3">
                  <div class="font-mono text-sm leading-6 text-black">$3,231.12</div>
                </div>
              </td>
              <td class="py-4 pl-0 pr-4 text-right text-sm leading-6 sm:table-cell sm:pr-6 lg:pr-8">
                <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2">
                  <span class="absolute -inset-1.5"></span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                    <path d="M13.5 6.5l4 4"></path>
                  </svg>
                </button>
              </td>
            </tr>
            
            <!-- Add Stocks... -->
            
          </tbody>

          
          
        </table>

        <div class = "overflow-x-auto sm:overflow-hidden py-4">
          <table class="ml-2 w-full whitespace-nowrap text-left">
            <colgroup>
              <col class="lg:w-1/12">
              
            </colgroup>
            <thead class= "text-sm leading-6 text-black">
              <tr>
                <th scope="col" class="hidden sm:table-cell pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Type</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Name</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Type</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Quantity</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Value</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Purchase Cost</th>
                <th scope="col" class="pl-0 pr-8 font-semibold">Purchase Date</th>
                <!-- <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8">empty</th> -->
              </tr>
            </thead>
  
            <tbody class="divide-y divide-white/5">
              <tr>
                <td class="hidden sm:table-cell pl-4 pr-8 sm:pl-6 lg:pl-8 ">
                  <div class="flex gap-x-3">
                    <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-sm font-medium text-green-800 ring-1 ring-inset ring-gray-400/20">Stock</span>
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">NVDA</div>
                    <!-- <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">Bank Account</span> -->
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">Stock</div>
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">1</div>
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">$492.79</div>
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">$400.00</div>
                  </div>
                </td>
                <td class="pl-0 pr-4 sm:table-cell sm:pr-8">
                  <div class="flex gap-x-3">
                    <div class="text-sm leading-6 text-black">09/19/2023</div>
                  </div>
                </td>
                <td class="pl-0 pr-4 text-right text-sm leading-6 sm:table-cell sm:pr-6 lg:pr-8">
                  <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2">
                    <span class="absolute -inset-1.5"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                      <path d="M13.5 6.5l4 4"></path>
                    </svg>
                  </button>
                </td>
              </tr>
              
              <!-- Add Stocks... -->
              
            </tbody>
          </table>
        </div>
        
        <div class = "py-4 text-right">
          <button type="submit" class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400">Add Account</button>
        </div>
        
         
      </div>
      <div>
      

    </div>
    
  </main>
</div>

   
    

      
   


   

    <script>
      function closeSettingMenu(attribute) {
          const settingmenu = document.querySelector(attribute);
          if (settingmenu.classList.contains('hidden')) {
            settingmenu.classList.remove('hidden');
          } else {
            settingmenu.classList.add('hidden');
          }
      }

      function openSettingMenu(menuSelector) {
          const settingmenu = document.querySelector(menuSelector);
          if (settingmenu.classList.contains('hidden')) {
            settingmenu.classList.remove('hidden');
          } else {
            settingmenu.classList.add('hidden');
          }
      }

      const openNameSettingButton = document.getElementById('openNameSetting-button');
      openNameSettingButton.addEventListener('click', function() {openSettingMenu(".settingname");});
      const cancelSettingButton = document.getElementById('cancelname-button');
      cancelSettingButton.addEventListener('click', function() {closeSettingMenu(".settingname");});

      const openEmailSettingButton = document.getElementById('openEmailSetting-button');
      openEmailSettingButton.addEventListener('click', function() {openSettingMenu(".settingemail");});
      const cancelEmailButton = document.getElementById('cancelemail-button');
      cancelEmailButton.addEventListener('click', function() {closeSettingMenu(".settingemail");});

      const openPhoneSettingButton = document.getElementById('openPhoneSetting-button');
      openPhoneSettingButton.addEventListener('click', function() {openSettingMenu(".settingphone");});
      const cancelPhoneButton = document.getElementById('cancelphone-button');
      cancelPhoneButton.addEventListener('click', function() {closeSettingMenu(".settingphone");});

      const openBirthdaySettingButton = document.getElementById('openBirthdaySetting-button');
      openBirthdaySettingButton.addEventListener('click', function() {openSettingMenu(".settingbirthday");});
      const cancelBirthdayButton = document.getElementById('cancelbirthday-button');
      cancelBirthdayButton.addEventListener('click', function() {closeSettingMenu(".settingbirthday");});
  </script>

    </div>
  </div>
</div>

{% endblock content %}