{% extends "layout_app.html" %}
{% block content %}


<div class="relative z-10 settingname hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assettype.label}}</h3>
              <!-- <p class="text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste dolorem animi vitae error totam. At sapiente aliquam accusamus facere veritatis.</p> -->
              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelname-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingemail hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetname.label}}</h3>


              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

             

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelemail-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingphone hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetvalue.label}}</h3>


              <form class="space-y-2 mt-5" method="POST" action="">
              </form>
              

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelphone-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10 settingbirthday hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mt-1 text-center">
            {{ form.csrf_token }}
            <div class="">
              <h3 class="text-base w-max mt-2 font-semibold leading-6 text-gray-900" id="modal-title">Change {{form.assetprice.label}}</h3>

              <form class="space-y-2 mt-5" method="POST" action="">
              </form>

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-5 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Confirm</button>
          <button id = "cancelbirthday-button" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="mx-auto max-w-7xl pt-16 lg:flex lg:gap-x-16 lg:px-8">
  
    <main class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-0 lg:py-20">
      <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
        <div>
          <h2 class="text-2xl font-semibold leading-7 text-gray-900">Asset List</h2>
  
          <dl class="mt-6 space-y-6 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">
            <div class="pt-6 sm:flex">
              <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6">Asset 1</dt>
              <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                <div class="text-gray-900">{{current_user.assettype}}</div>
                <button id = "openNameSetting-button" type="button" class="font-semibold text-blue-900 hover:text-blue-800">Update</button>
              </dd>
            </div>
          </dl>
        </div>
  
        <div>
        <div class = "py-4">
          <form class="flex items-start justify-end">
            <button type="submit" class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400">Add Asset</button>
          </form>
        </div>
        

      </div>
    </main>
  </div>

   
    

      
   

    
    
    <!-- <div class="py-10">
      <header>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Dashboard</h1>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          
    </div> -->

   

    <script>
      function closeSettingMenu(attribute) {
          const settingmenu = document.querySelector(attribute);
          if (settingmenu.classList.contains('hidden')) {
            settingmenu.classList.remove('hidden');
          } else {
            settingmenu.classList.add('hidden');
          }
      }

      function openSettingMenu(menuSelector) {
          const settingmenu = document.querySelector(menuSelector);
          if (settingmenu.classList.contains('hidden')) {
            settingmenu.classList.remove('hidden');
          } else {
            settingmenu.classList.add('hidden');
          }
      }

      const openNameSettingButton = document.getElementById('openNameSetting-button');
      openNameSettingButton.addEventListener('click', function() {openSettingMenu(".settingname");});
      const cancelSettingButton = document.getElementById('cancelname-button');
      cancelSettingButton.addEventListener('click', function() {closeSettingMenu(".settingname");});

      const openEmailSettingButton = document.getElementById('openEmailSetting-button');
      openEmailSettingButton.addEventListener('click', function() {openSettingMenu(".settingemail");});
      const cancelEmailButton = document.getElementById('cancelemail-button');
      cancelEmailButton.addEventListener('click', function() {closeSettingMenu(".settingemail");});

      const openPhoneSettingButton = document.getElementById('openPhoneSetting-button');
      openPhoneSettingButton.addEventListener('click', function() {openSettingMenu(".settingphone");});
      const cancelPhoneButton = document.getElementById('cancelphone-button');
      cancelPhoneButton.addEventListener('click', function() {closeSettingMenu(".settingphone");});

      const openBirthdaySettingButton = document.getElementById('openBirthdaySetting-button');
      openBirthdaySettingButton.addEventListener('click', function() {openSettingMenu(".settingbirthday");});
      const cancelBirthdayButton = document.getElementById('cancelbirthday-button');
      cancelBirthdayButton.addEventListener('click', function() {closeSettingMenu(".settingbirthday");});
  </script>

    </div>
  </div>
</div>

{% endblock content %}