{% extends "layout_app.html" %}
{% block content %}

 
  
  <!-- successfully signed up -->
  <div class="mx-auto max-w-7xl px-4 mt-10 mb-4 md:mb-6 sm:px-6 lg:px-8">   
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
      {% for category, message in messages %}
          <!-- <div class = "title h1 alert-{{category}}">message</div> -->
          <div class="rounded-md bg-green-50 p-4 mb-4">
              <div class="flex">
              <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                  </svg>
              </div>
              <div class="ml-3">
                  <h3 class="text-sm font-medium text-green-800">Success!</h3>
                  <div class="mt-2 text-sm text-green-700">
                  <p>{{ message }}</p>
                  </div>

              </div>
              </div>
          </div>
      {% endfor %}
      {% endif %}
      {% endwith %}     
    <div class="mx-auto flex max-w-2xl items-center justify-between gap-x-4 lg:mx-0 lg:max-w-none">
      <div class="flex items-center gap-x-6">
  <!-- Removed the SVG icon -->
  <h1>
    <div class="mt-1 text-3xl px-2 font-bold leading-6 text-gray-900">Welcome, {{ current_user.name }}</div>
  </h1>
</div>

        <!-- <button type="button" class="hidden text-sm font-semibold leading-6 text-gray-900 sm:block">Copy URL</button> -->
        <!-- <a href="#" class="hidden text-sm font-semibold leading-6 text-gray-900 sm:block">option</a> -->
        <a href="{{ url_for("contact") }}" class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Contact Us</a>


    </div>

    <!-- Overview Columns -->
    <dl class="mx-auto grid mt-6 px-0 md:px-0 sm:px-6 grid-cols-1 gap-px sm:grid-cols-2 lg:grid-cols-2">
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 ring-1 ring-gray-900/10 dark:bg-gray-800  bg-white px-4 py-6 sm:px-6 xl:px-8">
        <dt class="flex items-center text-sm font-medium leading-6 text-gray-500 relative">
            Net Worth (Total)
            <svg data-popover-target="chart-info-total" data-popover-placement="top" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
            </svg>
        </dt>
        <div data-popover id="chart-info-total" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 right-0 mt-2 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="px-5 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">What is this?</h3>
                <p>Your total net worth is determined by adding up all the financial values of your assets, whether they are monetary or not</p>
            </div>
            <div data-popper-arrow></div>
        </div>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$12,787.00</dd>
    </div>
    
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 ring-1 ring-gray-900/10 dark:bg-gray-800 bg-white px-4 py-6 sm:px-6 xl:px-8">
        <div class="flex items-center"> <!-- Added a wrapper div for the flex layout -->
            <dt class="text-sm font-medium leading-6 text-gray-500">5 Year Prediction</dt>
            <svg data-popover-target="chart-info-prediction" data-popover-placement="top" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
            </svg>
        </div> <!-- Closing wrapper div -->
    
        <div data-popover id="chart-info-prediction" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 right-0 mt-2 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="px-5 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">What is this?</h3>
                <p>Your 5 year prediction is determined by our proprietary value-analysis process that utilizes AI to predict the valuation of the assets that comprise your total net worth</p>
            </div>
            <div data-popper-arrow></div>
        </div>
    
        <dd class="text-xs font-medium text-green-400">+10.18%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$30,156.00</dd>
    </div>       
      <!-- <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 ring-1 ring-gray-900/10 dark:bg-gray-800  bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Expenses</dt>
        <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 md:py-2 tracking-tight text-gray-900">$12,787.00</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 ring-1 ring-gray-900/10 dark:bg-gray-800  bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Debt</dt>
        <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 md:py-2 tracking-tight text-gray-900">$245,988.00</dd>
      </div> -->
      
    </dl>
    
  </div>
  
  <div class="mx-auto max-w-7xl flex flex-col gap-x-4 sm:flex-row px-4 py-4 sm:px-6 lg:px-8 xl:grid-cols-5">
      <!-- Pie Chart -->
      <div class = "items-center justify-center mt-3 xl:col-span-2 w-full sm:w-1/2">   
      <div class="max-w-sm mx-auto w-full bg-white rounded-lg shadow-md ring-1 ring-gray-900/10 dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
              <div class="flex items-center mb-1">
                  <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white mr-1">Broad Asset Distribution</h5>
                  <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="px-5 space-y-2">
                          <h3 class="font-semibold text-gray-900 dark:text-white">What is this?</h3>
                          <ol class="list-disc">
                            <li>An easy way to see everything you have in terms of financial value.</li>
                            <li>Assets that are not forms of currency are represented in terms of money to show what they are "worth."</li>
                            <li>To add more assets click the three dot button and update your asset list.</li>
                          </ol>
                  </div>
                  <div data-popper-arrow></div>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-center">
            <button id="widgetDropdownButton" data-dropdown-toggle="widgetDropdown" data-dropdown-placement="bottom" type="button"  class="inline-flex items-center justify-center text-gray-500 w-8 h-8 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm"><svg class="w-3.5 h-3.5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg><span class="sr-only">Open dropdown</span>
            </button>
            <div id="widgetDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="widgetDropdownButton">
                  <li>
                    <a href="{{ url_for("assetlist") }}" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="3" y1="12" x2="21" y2="12"></line>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <line x1="3" y1="18" x2="21" y2="18"></line>
                            </svg>
                        </div>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279"/>
                        Asset List
                    </a>
                </li>                              
                </ul>
          </div>
        </div>
        </div>

        <!-- Line Chart -->
        <div class="py-6" id="pie-chart"></div>

        
      </div>
      <script>
        // ApexCharts options and config
        window.addEventListener("load", function() {
          //variables
          var netWorth = 12787
          const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD', // Change to your desired currency code
            minimumFractionDigits: 2, // Minimum decimal places
            maximumFractionDigits: 2, // Maximum decimal places
          });
          const getChartOptions = () => {
              return {
                series: [20.0, 20.0, 20.0, 20.0, 20.0],
                colors: ["#1C64F2", "#16BDCA", "#9061F9"],
                chart: {
                  height: 420,
                  width: "100%",
                  type: "pie",
                },
                stroke: {
                  colors: ["white"],
                  lineCap: "",
                },
                plotOptions: {
                  pie: {
                    labels: {
                      show: true,
                    },
                    size: "100%",
                    dataLabels: {
                      offset: -25
                    }
                  },
                },
                labels: ["Savings", "Cash", "Investments", "House", "401(k)"],
                dataLabels: {
                  enabled: true,
                  style: {
                    fontFamily: "Inter, sans-serif",
                  },
                },
                legend: {
                  position: "bottom",
                  fontFamily: "Inter, sans-serif",
                },
                yaxis: {
                  labels: {
                    formatter: function (value) {
                      // return value + "%"
                      // return "$" + value * netWorth
                      // return "$" + Intl.NumberFormat('en-US').format(value * netWorth)
                      const formattedValue = formatter.format((value * 1/100) * netWorth);
                      return formattedValue;
                    },
                  },
                },
                xaxis: {
                  labels: {
                    formatter: function (value) {
                      // return value  + "%"
                      // return "$" + value * netWorth
                      // return "$" + Intl.NumberFormat('en-US').format(value * netWorth)  
                      const formattedValue = formatter.format((value * 1/100) * netWorth);
                      return formattedValue;
                    },
                  },
                  axisTicks: {
                    show: false,
                  },
                  axisBorder: {
                    show: false,
                  },
                },
              }
            }

            if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
              const chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
              chart.render();
            }
        });
      </script>

      </div>

      <!-- AI interface --> 
      <div class="bg-white mt-3 max-w-7xl w-full xl:col-span-3 mx-auto p-4 rounded-lg shadow-md ring-1 ring-gray-900/10">
        <h1 class="text-2xl text-center font-semibold text-gray-900 mt-2">AI Financial Advisor - Warren</h1>
        <div class="chat-container ">
            <div class="chat p-2 lg:mt-64 mt-32 space-y-2">
                <div class="chat-message user text-right">
                    <div class="message-text bg-blue-900 text-white py-2 px-3 rounded-t-lg inline-block">
                        Hello, Warren!
                    </div>
                </div>
                <div class="chat-message bot">
                    <div class="message-text bg-gray-200 py-2 px-3 rounded-t-lg inline-block">
                        Hi there! How can I assist you today?
                    </div>
                </div>
                <!-- copy and paste more chat messages here -->
            </div>
            <div class="user-input mt-4 flex items-center">
              <input type="text" id="user-message" placeholder="Ask a question..." class="w-full py-2 px-3 border rounded-l-lg" />
              <button id="send-button" class="hidden md:inline-block bg-blue-900 hover:bg-blue-800 text-white py-2 px-3 rounded-r-lg">Send</button>
              
              <button id="send-button" class="md:hidden bg-blue-900 hover:bg-blue-800 text-white py-2 px-3 rounded-r-lg flex items-center border">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M10 14l11 -11"></path>
                      <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
                  </svg>
              </button>
          </div>
          
        </div>
      </div>
  </div>

{% endblock content %}